[submodule "Depth-Anything-V2"]
    path = Depth-Anything-V2
    url = git@github.com:DepthAnything/Depth-Anything-V2.git  # 适当修改为正确的 URL
[submodule "sam2"]
    path = sam2
	url = git@github.com:BFZD233/samv2.git
[submodule "DepthCrafter"]
    path = DepthCrafter
    url = git@github.com:Tencent/DepthCrafter.git
[submodule "InstantSplat"]
	path = InstantSplat
	url = git@github.com:jiaxiZeng/InstantSplat.git
[submodule "Temporally-Consistent-Stereo-Matching"]
	path = Temporally-Consistent-Stereo-Matching
	url = git@github.com:jiaxiZeng/Temporally-Consistent-Stereo-Matching.git
	branch = stereo_sim_dev
